.container {
  padding: 30px 0;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom right, rgb(30 41 59), rgb(0 0 0));
  margin-bottom: 50px;
  z-index: 0;
}

.header {
  margin-right: 200px;
}

.headerIcon {
  margin-left: 100px;
}

.headerText {
  color: white;
  font: semibold 24px/30px 'Roboto', sans-serif;
}

.subheader {
  color: white;
  font: semibold 16px/20px 'Roboto', sans-serif;
}