.tab {
  color: white;
  background-color: rgb(15 23 42);
  &:hover {
    color: black;
  }
  &:active {
    color: black;
    background-color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
}

.panel {
  max-height: 100% !important;
  overflow-y: auto;
}

.list {
  max-height: 100%;
}

.container {
  height: 100%;
}

.stack {
  height: 100%;
  padding: 100px 0;
  opacity: 90%;
  color: white;
  background-color: rgb(30 41 59);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.active {
  color: black;
  background-color: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}