.navLink {
  color: white;
  &:hover {
    scale: 1.1;
    background-color: rgb(30 41 59) !important;
    transition: ease-in-out 0.2s;
  }
}

.navLinkChild {
  &:hover {
    background-color: rgb(30 41 59) !important;
  }
}

.container {
  z-index: 100;
  width: 80px;
  overflow: hidden;
  transition: width 0.3s ease-in-out; /* Animation here */
}

.container.open {
  z-index: 100;
  width: 250px;
}